.header {
  font-weight: 700;
  margin-bottom: 4rem;
  font-size: 2.3rem;
}

.select {
  font-size: 1.8rem;
}

.btn-cuisine {
  background: rgb(239 79 95);
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  margin: 1rem 0.7rem;
  border: 1px solid rgb(239 79 95);
  font-size: large;
  color: white;
  cursor: pointer;
}
