.profile-img {
  width: 2.7rem;
  height: 2.7rem;
}

.back-icon {
  margin-left: 3rem;
  margin-top: 1.8rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.res-details {
  width: 50rem;
  margin: 0 auto;
}

.res-name {
  font-size: 3rem;
  font-weight: 600;
}

.txt-grey-color {
  color: #8b8b8b;
}

.rating {
  width: 2rem;
  height: max-content;
  padding: 0.4rem;
  border-radius: 0.3rem;
  background-color: green;
  color: yellow;
}
